<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Build Source" value="C:\\Users\\thad.house\\GitHub\\Templates\\sdk" />
        <add key="DotNet Tool" value="C:\\Users\\thad.house\\GitHub\\frc-cli\\src\\dotnet-frc\\nupkg" />
        
    </packageSources>
</configuration>